{
    "Parameters" : {
        "Program" : "EG",
        "Environment" : "np",
        "AwsAccountId": 123456789199,
        "SnowflakeParameters" : {
            "SnowflakeNamedConn": "my_example_sf_profile",
            "SnowflakeIAMRoleName" : "${PROGRAM_LOWER}-snowflake-access-role",
            "SnowflakeVPCID" : "vpc-123f12e1"
        },
        "AdditionalParameters" : {
            "S3BucketEg": "${PROGRAM}-${DATA_SRC}-raw-${AWS_ACCOUNT_ID}-${STAGE}-${BRANCH}"
        }
    }
}
